<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextEditor5.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TextEditor5.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="TextWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>ＭＳ ゴシック, 10.5pt</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarStyle" serializeAs="String">
                <value>False</value>
            </setting>
        </TextEditor5.My.MySettings>
    </userSettings>
</configuration>